### Dictionaries

Data structures that stores key-values pairs. <br>
In Python a dictionary is defined as the set of key-values of the form <br>
{key1: value1, key2:value2}<br>
For example:

In [1]:
Dic1={'Object1':2, 'Object2':4}
Dic1['Object2']

4

Inserting a new key-value is as follows:

In [2]:
Dic1['NewKey']='String'

In [3]:
Dic1

{'Object1': 2, 'Object2': 4, 'NewKey': 'String'}

In [4]:
Dic2={'Col1':range(3),'Col2':range(3,6)}

In [5]:
Dic2

{'Col1': range(0, 3), 'Col2': range(3, 6)}

In [6]:
import pandas as pd
import seaborn as sns
import numpy as np

Lets create a data frame using Dictionaries:

In [7]:
df=pd.DataFrame(Dic2['Col1'],Dic2['Col2'])

In [8]:
df

   0
3  0
4  1
5  2

We observe this is not what we want, so lets use another method:

In [9]:
df1=pd.DataFrame({'col1':range(3),'col2':range(3,6)})

In [10]:
df1

   col1  col2
0     0     3
1     1     4
2     2     5

In [11]:
#Now, renaming the columns:
df1.rename(columns={'col1':'apples','col2':'oranges'})

   apples  oranges
0       0        3
1       1        4
2       2        5

Write a function that take in four arguments: lst1, lst2, str1, str2, and returns a pandas DataFrame that has the first column labeled str1 and the second column labaled str2, that have values lst1 and lst2 scaled to be between 0 and 1.

For example
```
lst1 = [1, 2, 3]
lst2 = [2, 4, 5]
str1 = 'one'
str2 = 'two'

my_function(lst1, lst2, str1, str2)
``` 
should return a DataFrame that looks like:



|  <i></i> | one | two |
| --- | --- | --- |
| 0 | 0 | 0 |
| 1 | .5 | .666 |
| 2 | 1 | 1 |

In [12]:
def my_function(lsta,lstb,stra,strb):
    d1={stra:lsta,strb:lstb}
    df=pd.DataFrame(data=d1)
    return df

In [13]:
lst1 = [1, 2, 3]
lst2 = [2, 4, 5]
str1 = 'one'
str2 = 'two'

In [14]:
my_function(lst1,lst2,str1,str2)

   one  two
0    1    2
1    2    4
2    3    5

In [15]:
import numpy as np

lst1 = np.random.randint(-234, 938, 100)
lst2 = np.random.randint(-522, 123, 100)
str1 = 'one'
str2 = 'alpha'

In [16]:
my_function(lst1,lst2,str1,str2)

    one  alpha
0   764     37
1   799   -117
2   913    -88
3   409   -363
4   369   -293
..  ...    ...
95  -40   -340
96  584   -194
97  410   -265
98  340   -269
99  304   -226

[100 rows x 2 columns]

In [17]:
def get_element(lst):
    new_lst = []
    for i in lst:
        new_lst.append(i**2)
    return lst[1]

In [18]:
get_element([1,7,3,5])

7

### Confidence Level:
<br>
Suppose we have a total pool of 659 parents who used a car seat for their toddlers. <br>
A total of 540 answer that they always use the car seat.
<br>

#### Compute the best estimated and the error (with a 95% confidence level)
<br>

$\hat{p} \pm 1.96 \sqrt{\frac{ \hat{p}(1-\hat{p})}{n} }$

In [19]:
def CL(pop,afa):
    #afa=affirmative answer
    #pop=population
    pest=(afa/pop) #Proportion
    error=1.96*np.sqrt((pest*(1-pest))/pop)
    plow=pest-error
    phigh=pest+error
    return (pest, error, plow, phigh)

In [20]:
CL(659,540)

(0.8194233687405159,
 0.029369618826724488,
 0.7900537499137914,
 0.8487929875672404)

### Report
<br>

Based in the sample of 650 parents with toddlers, with a 95% confidence level <br>
It was estimated that between 79.0% and 84.8% of the asked population reported that
they use a car seat for all travel.

Remember: 95% CL refers to our confidence in the statistical procedure that was used to make
<br> the inverval

### Marging of error

<br>
$\hat{p}\pm \frac{1}{\sqrt{n}}$

In [21]:
def CL2(pop,afa):
    #afa=affirmative answer
    #pop=population
    pest=(afa/pop) #Proportion
    error=1.96*np.sqrt(1/pop)
    plow=pest-error
    phigh=pest+error
    return (pest, error, plow, phigh)

In [22]:
CL2(659,540)

(0.8194233687405159,
 0.07635075993889874,
 0.7430726088016172,
 0.8957741286794146)

Looking at the sample size:
<br>

$\hat{p} \pm Z*\frac{1}{2\sqrt{n}}$ <br>

MoE$=Z*\frac{1}{2\sqrt{n}}$

<br>

Then
<br>
$n=(\frac{Z}{2.MoE})^{2}$